@{
    Layout = "_Layout";
}

@model PierresTreats.Models.Treat



<h4>Add a new treat</h4>

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger"})</p>

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name)
    @Html.LabelFor(m => m.Description)
    @Html.TextBoxFor(m => m.Description)

    <input type="submit" value="Add new treat" />
}
<p>@Html.ActionLink("Show all treats", "Index")</p>