@{
    Layout = "_Layout";
}

@model PierresTreats.Models.Treat;
@using PierresTreats.Models;
@using System.Collections.Generic;

<h2>Treat Details</h2>
<hr />
<h3>@Html.DisplayNameFor(m => m.Name) : @Html.DisplayFor(m => m.Name)</h3>
<h3>@Html.DisplayNameFor(m => m.Description) : @Html.DisplayFor(m => m.Description)</h3>

@if (@Model.JoinEntities.Count == 0)
{
    <p>This Treat has no associated flavor.</p>
}
else
{
    <h4>This treat has the following flavors associated:</h4>
    <ul>

    @foreach (FlavorTreat join in Model.JoinEntities)
        {
            <li>Flavor: @join.Flavor.Description</li>
            @using (Html.BeginForm("DeleteJoin", "Treats"))
            {
                @Html.Hidden("joinId", @join.FlavorTreatId)
                <input type="submit" value="Delete" />
            }
        }
    </ul>
}
</ul>

@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId})
<br>
@Html.ActionLink("Tag a flavor to this treat", "AddFlavor", new { id = Model.TreatId }) to @Html.DisplayFor(m =>
m.Name)
<br>
@Html.ActionLink("Add Flavor", "Create", "Flavors")
<br>
@Html.ActionLink("Add Treat to your list", "Create")
<br>
@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId})
