@{
    Layout = "_Layout";
}

@using PierresTreats.Models;

<h1>Welcome to Pierre's Treats</h1>
<hr>

<h4>Treats</h4>
@if (ViewBag.Treats.Count == 0)
{
    <p>No treats have been added yet!</p>

}
<ul>
    @foreach (Treat treat in ViewBag.Treats)
    {
        <li>@Html.ActionLink(@treat.Name, "Details", "Treats", new { id = @treat.TreatId})</li>
    }
</ul>

<h4>Flavors</h4>
@if (ViewBag.Flavors.Count == 0)
{
    <p>No flavors have been added yet!</p>
}
<ul>
    @foreach (Flavor flavor in ViewBag.Flavors)
    {
        <li>@Html.ActionLink(@flavor.Description, "Details", "Flavors", new { id = @flavor.FlavorId})</li>
    }
</ul>

<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>
<p>@Html.ActionLink("Add a new treat", "Create", "Treats")</p>
<p>@Html.ActionLink("Add a new flavor", "Create", "Flavors")</p>