@{
    Layout = "_Layout";
}

@using PierresTreats.Models;

<h1>Welcome to Pierre's Treats</h1>
<hr>

<h4>Treats</h4>
@if (ViewBag.Treats.Count == 0)
{
    <p>No treats have been added yet!</p>
    <p>@Html.ActionLink("Add a new treat", "Create", "Treats")</p>
}
<ul>
    @foreach (Treat treat in ViewBag.Treats)
    {
        <li>@Html.ActionLink(@treat.Name, "Details", "Treats", new { id = @treat.TreatId})</li>
    }
</ul>

@* <h4>Flavors</h4>
@if (Model["flavors"].Length == 0)
{
<p>No flavors have been added yet!</p>
}
<ul>
@foreach (Flavor flavor in Model["flavors"])
{
<li>@Html.ActionLink(@flavor.Description, "Details", "Flavor", new { id = @flavor.FlavorId})</li>
}
</ul> *@

<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>