@{
    Layout = "_Layout";
}

@using PierresTreats.Models;

<h1>Welcome to Pierre's Treats</h1>
<hr>
@if (User.Identity.IsAuthenticated)
{
    <p>You are currently logged in as @User.Identity.Name!</p>
    <p>@Html.ActionLink("Add a new treat", "Create", "Treats")</p>
    <p>@Html.ActionLink("Add a new flavor", "Create", "Flavors")</p>
}
else
{
    <p>You are not currently logged in, please </p>
    <p>@Html.ActionLink("Click here to log in or create an account", "Index", "Account")</p>
}

<h4>Treats</h4>
@if (ViewBag.Treats.Count == 0)
{
    <p>No treats have been added yet!</p>

}
<ul>
    @foreach (Treat treat in ViewBag.Treats)
    {
        <li>@Html.ActionLink(@treat.Name, "Details", "Treats", new { id = @treat.TreatId})</li>
    }
</ul>

<h4>Flavors</h4>
@if (ViewBag.Flavors.Count == 0)
{
    <p>No flavors have been added yet!</p>
}
<ul>
    @foreach (Flavor flavor in ViewBag.Flavors)
    {
        <li>@Html.ActionLink(@flavor.Description, "Details", "Flavors", new { id = @flavor.FlavorId})</li>
    }
</ul>
