@{
    Layout = "_Layout";
}

@model PierresTreats.Models.Flavor;
@using PierresTreats.Models;
@using System.Collections.Generic;

<h2>Flavor Details</h2>
<hr />
<h3>@Html.DisplayNameFor(m => m.Description) : @Html.DisplayFor(m => m.Description)</h3>
<h3>@Html.ActionLink("Edit Flavor Description", "Edit", new { id = Model.FlavorId})</h3>
<h3>@Html.ActionLink("Create a new flavor", "Create", "Flavors")</h3>
<hr>
@if (@Model.JoinEntities.Count == 0)
{
    <p>This Treat has no associated flavor.</p>
}
else
{
    <h4>@Html.DisplayFor(m => m.Description) has these treats associated with it:</h4>
    <ul>

    @foreach (FlavorTreat join in Model.JoinEntities)
        {
            <li>@join.Treat.Name:
                <br>
                @join.Treat.Description
            </li>
            @using (Html.BeginForm("DeleteJoin", "Treats"))
            {
                @Html.Hidden("joinId", @join.FlavorTreatId)
                <input type="submit" value="Delete" />
            }
        }
    </ul>
}
</ul>

<br>
@Html.ActionLink("Tag a treat", "AddTreat", new { id = Model.FlavorId }) to @Html.DisplayFor(m =>
m.Description)
<br>
@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId})
